*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: initial;
    outline: 0;
    font-family: 'Poppins' sans-serif;
    transition: 0.2 ease-in-out;
}
:root{
    --primary:#647FBC;
    --light-blue:#91ADC8;
    --greenish:#AED6CF;
    --yellowish:#FAFDD6;
    --white-color:#fff;
}
body{
    width: 100%;
}

/* ---------styling the trainers section --------------- */
.trainers-Sec{
    background-color: var(--light-blue);
    width:100%;
    padding: 4rem 4rem;
}
.trainer-container{
    width: 100%;
}
.trainer-container .trainer-top-text{
    color: var(--white-color);
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.teachers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.teachers .box{
    width:23%;
    background-color: var(--greenish);
    display: flex;
    flex-direction: column;
    margin: 0.7em 0.7em;
    border: 0;
    height: max-content;
    padding-top: 20px;
}
.descriptions{
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
}
.teacher-name{
    width: 100%;
    background-color: var(--white-color);
    font-size: 20px;
    font-weight: bolder;
}
.trainer-nm{
    background-color: var(--white-color);
    font-size: 18px;
}
.box .img-box{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box .img-box img{
    width: 100%;
}
/* -----------Trainers section ends here------------- */

/* --------footer starts------------ */
footer{
    background-color: var(--primary);
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    font-weight: bolder;
    flex-wrap: wrap;
    font-size: 22px;
}
footer .main-ft{
    font-weight: bolder;
    font-size: 30px;
}
/* ----------footer ends------------- */